<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Eliminar cliente <%= link_to("Volver", clientes_path, :class => 'btn btn-outline-primary btn-small') %></h1>
			<hr>

			<%= form_for(@cliente, :method => 'delete') do |f| %>
			<p>¿Está seguro que desea eliminar éste cliente?</p>
			<hr>

			<%= link_to("Volver", clientes_path, :class => 'btn btn-success btn-small') %>
			<%= f.submit("Eliminar", class: "btn btn-danger btn-small") %>
			<% end %>
		</div>
	</div>
</div>