<div class="login">

	<%= form_tag(access_attempt_login_path, :method => :post) do %>
	<div class="form-row">
		<div class="form-group col-md-12">
		  <label for="email">Email</label>
		  <%= text_field_tag(:email, params[:email], class: 'form-control' ) %>
		</div>
		<div class="form-group col-md-12">
		  <label for="password">Contraseña</label>
		  <%= password_field_tag(:password, '',class: 'form-control' ) %>
		</div>
		<div class="form-group col-md-12">
		  <%= submit_tag('Ingresar', class: 'btn btn-success btn-block') %>
		</div>
	</div><!-- /form-row -->
	<% end %>
</div>