<div class="form-row">
	<div class="form-group col-md-6">
		<label for="nombre">Código</label>
	   	<%= f.text_field(:codigo, class: 'form-control', :required => true) %>
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-6">
		<label for="nombre">Cliente</label>
	   	<%= f.collection_select :post, :cliente_id, Cliente.all, :id, :name, {:class => 'form-control'} %>
	</div>
	<div class="form-group col-md-6">
	  	<label for="nombre">Proveedor</label>
	   	<%= f.collection_select :post, :supplier_id, Supplier.all, :id, :name, {:class => 'form-control'} %>
	</div>
</div>


