<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Eliminar proforma</h1>
			<%= form_for(@proforma, :method => 'delete') do |f| %>
			<p>¿Está seguro que desea eliminar la proforma?</p>
			<%= f.submit("Eliminar") %>
			<% end %>
		</div>
	</div>
</div>
