<main class="proforma">

	<h1>Generar Factura Proforma <%= link_to("Volver", proformas_path, :class => 'action back btn btn-outline-primary btn-small') %></h1>
	<hr>
	
	<div class="new-proforma-container">

		<%= form_for(@proforma) do |f| %>

			<%= render(:partial => 'form', :locals => {:f => f}) %>

			<%= f.submit("Añadir", class: "btn btn-success btn-small") %>
	  	
		<% end %>
		
	</div><!-- /new-proforma-container -->

</main>