<main>
	<div class="jumbotron">
	  <h1 class="display-4">Bienvenido</h1>
	  <p class="lead">Sistema de Administración Friul Trade</p>
	  <hr class="my-4">
	  <p>Utiliza el menú lateral para navegar por la aplicación</p>
	</div>
</main>