@import "bootstrap";
img{
	opacity:1;
}
table{
	width:100%;
}
bold{
	font-weight:bold;
}
.times{
	font-family: Times;
}
.blue{
	color:#1E5799;
}
table.header {
	border-bottom:2px solid #000;
}

table.header td{
	vertical-align:bottom;
	border-bottom:1px solid #fff;

}
table.header tr{
	padding-bottom:5px;
}
table.header .logo{
	text-align:right;
	max-heigh:50px;
}

table.meta{
	margin-top:10px;
}
table.meta h3{
	color:#1E5799;
	font-size:16px;
}
h4{
	font-size:16px;
	margin-top:10px;
	text-transform:uppercase;
	paddig-top:5px;
}
table .data{
	font-weight:bolder;
	text-transform:uppercase;
}
table.articles{
	margin-top:20px;
	border-top:2px solid #000;
	margin-bottom:50px;
}
table.final-values{
	margin-top:50px;
}
