<main>
	<h1>Editar proveedor</h1>
	<hr>
	<%= form_for(@supplier) do |f| %>
	<%= render(:partial => 'form', :locals => {:f => f}) %>
	<div class="form-row">
		<div class="form-group col-md-12">
		  <%= f.submit("Editar") %>
		</div>
	</div><!-- /form-row -->
	<% end %>
</main>		
